<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Post</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0    , shrink-to-fit=no">
<meta name="theme-color" content="#fbc02d">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">

<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Open+Sans" rel="stylesheet">

<!--<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/material-kit.css" rel="stylesheet">
<link href="css/material-kit.css.map" rel="stylesheet">
<link href="css/main.css" rel="stylesheet">-->

<script src="/socket.io/socket.io.js"></script>
<!--<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/material.min.js"></script>
<script src="js/material-kit.js"></script>
<script src="js/master.js"></script>-->

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700"/>

<style>

* {
    box-sizing: border-box;
}
input, textarea {
    background: #784db9;
    border: 0px;
    border-radius: 5px;
    padding: 6px;
    outline: 0px solid;
}
input::placeholder, textarea::placeholder {
  color: #dadada;
}
button {
    background: #FFBE00;
    color: #493700;
    border: 0px;
    border-radius: 5px;
    padding: 6px;
}
body{
    font-family: 'Open Sans';
    width: 100%;
    padding: 0px;
    margin: 0px;

    background: #5A399C;
    color: #dadada;
}
.box {
    /* border: 1px solid rgb(255,113,206); */
    width: calc(80% - 20px);
    padding: 10px;
    margin: 10px calc(14% - 10px);
    background: #523184;
    border-radius: 5px;
}
.box > div:not(:first-child) {
    margin-top: 5px;
}
.w100{
    width: 100%;
}
.data-post {
    text-align: right;
}
</style>